/* reset  */

body,
h1,
p,
nav,
div,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hidden {
  display: none;
}

.main-page {
  width: 350px;
  height: 140px;
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 16px;
}

.opening {
  font-size: 12px;
  line-height: 1.25;
  margin-bottom: 15px;
}

.login-btn {
  width: 318px;
  background: #711BFF;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #FFFFFF;
  padding: 10px 0;
  margin-bottom: 17px;
}

.login-btn p {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
}

.login-btn img {
  width: 64px;
  height: 18px;
  margin-right: 4px;
}

.link-wrapper {
  color: #767676;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-item {
  display: flex;
  align-items: flex-end;
}

.link-item img {
  margin-right: 4px;
}

.link-item p {
  font-size: 12px;
  line-height: 1.25;
}

