.blind {
  position: absolute;
  clip: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.clear-fix::after {
  content: '';
  display: block;
  clear: both;
}

.cont-login {
  margin: 20px auto;
  width: 350px;
  /* 피그마 바깥의 보더 기준으로 패딩값이 19다? 근데 그 보더 1px 빼고 값을 줘야 맞기 때문에 18로 해준거  */
  padding: 18px 15px 17px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 15px;
}

.cont-login a{
  text-decoration: none;
  color: #767676;
}

.cont-login .txt-login {
  margin-bottom: 16px;
  font-weight: 400;
  color: #000000;
}

.cont-login .link-login {
  display: block;
  padding: 10px 0 12px;
  margin-bottom: 16px;
  background: #711BFF;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
}

.link-login .img-logo {
  margin-right: 4px;
  vertical-align: bottom;
}

.cont-login .cont-find {
  float:left
}

.cont-find .img-find {
  float: left; 
  margin: -1px 4px 0 0;
}

.cont-find .link-id::after{
  float: right;
  display: block;
  content: '';
  width: 1px;
  height: 12px;
  margin: 0 4px;
  background-color: #767676;
}
.cont-find [class^="link"] {
  float: left;
}
.cont-login .cont-join {
  float:right;
}

.cont-join [class$="join"] {
  float: left;
}
.cont-join .img-join {
  margin: -1px 4px 0 0;
}

